@font-face {
  font-family: Figtree;
  src: url(https://fonts.google.com/specimen/Figtree);
  font-weight: 600;
  font-style: normal;
}
:root {
  --primary-Yellow-color: hsl(47, 88%, 63%);
  --Neutral-White-color: hsl(0, 0%, 100%);
  --Neutral-Grey-color: hsl(0, 0%, 50%);
  --Neutral-Black-color: hsl(0, 0%, 7%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--primary-Yellow-color);
  font-family: Figtree;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body p {
  font-size: 16px;
}
.container {
  background-color: var(--Neutral-White-color);
  max-width: 326px;
  height: 500px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid var(--Neutral-Black-color);
  box-shadow: 8px 8px var(--Neutral-Black-color);
}
.img-wrapper {
  width: 280px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.status {
  margin-bottom: 16px;
}
.status .btn {
  border: none;
  background-color: var(--primary-Yellow-color);
  font-weight: 600;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 6px;
  margin-bottom: 16px;
}
.status .Published-date {
  font-weight: 600;
  font-size: 12px;
}
.article .title {
  color: var(--Neutral-Black-color);
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 14px;
}
.article .text {
  color: var(--Neutral-Grey-color);
  font-size: 14px;
  line-height: 22px;
}
.person {
  margin-top: 24px;
  display: flex;
  align-self: start;
  align-items: center;
}
.person .person-image {
  width: 32px;
  height: 32px;
  margin-right: 14px;
}
.person .person-name {
  font-weight: bolder;
  font-size: 14px;
}
@media screen and (min-width: 376px) {
  .container {
    min-width: 384px;
    height: 522px;
    padding: 22px 23px;
    cursor: pointer;
  }
  .container:active {
    box-shadow: 16px 16px var(--Neutral-Black-color);
  }
  .img-wrapper {
    width: 336px;
    height: 200px;
  }
  .status .btn {
    font-weight: 800;
    font-size: 13px;
  }
  .status .Published-date {
    font-size: 14px;
  }
  .article .title {
    font-size: 24.5px;
  }
  .article .title-wrap:hover .title {
    color: var(--primary-Yellow-color);
  }
  .article .text {
    font-size: 16px;
    line-height: 24px;
  }
  .person .person-image {
    margin-right: 12px;
  }
}
